.shadow {
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ddd;
    width: 78px;
    height: 102px;
    margin: 3px;
}

.shadow-hover {
    background-color: #f3be67;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.groups {
    margin: 0 20px 0 0;
}

#my-game {
    height: 100px;
    width: 100%;
}

.droppable-game {
    height: 99px;
    width: 75px;
}

